/* src/app/globals.css */
@import "tailwindcss";

:root {
  /* Clash Royale-ish palette */
  --cr-blue-900: 10 22 48;
  --cr-blue-700: 22 60 120;
  --cr-blue-500: 64 135 255;

  --cr-gold-500: 255 206 64;
  --cr-gold-600: 235 175 40;

  --cr-stone-700: 43 48 61;

  --cr-white: 255 255 255;
}
html {
  scroll-behavior: smooth;
}


html,
body {
  height: 100%;
}

body {
  background: rgb(var(--cr-blue-900));
}

/* ====== Components (Pure CSS, no @apply) ====== */
